<%= erb :header %>
<div class="container">
  <h1 class="center header green-text">Population</h1>
  <div class="row">
    <% @robots.each do |robot| %>
    <%= erb :robot , :locals =>{:robot => robot} %>
    <% end %>
  </div>
</div>
<%= erb :footer %>
