<form action="/robots" method="post">
  <input type="text" name="robot[name]" placeholder="Name">
  <input type="text" name="robot[birth]" placeholder="Birth">
  <input type="text" name="robot[state]" placeholder="State">
  <input type="text" name="robot[city]" placeholder="City">
  <input type="text" name="robot[hired]" placeholder="Hired">
  <input type="text" name="robot[department]" placeholder="Department">
  <input type="submit">
</form>
